WORDPRESS_DB_HOST=db
WORDPRESS_TABLE_PREFIX=wp_
MYSQL_DATABASE=wpdb
MYSQL_USER=wpuser
MYSQL_PASSWORD=wppass
MYSQL_RANDOM_ROOT_PASSWORD='1'

WORDPRESS_AUTH_KEY=bf66dcc30ec9da773fda51d36cc86ea32659e04b
WORDPRESS_SECURE_AUTH_KEY=51c625a9ab6c778300398afc35ce7f3b021553fd
WORDPRESS_LOGGED_IN_KEY=cf61433a332acbf9273c6bfa98ce07b212635bf6
WORDPRESS_NONCE_KEY=5847c7d50ac1f3bfee2bbb9ba0a1f409b1262dc6
WORDPRESS_AUTH_SALT=535ab1f4bb468d57dddf1b92c41eae78242f3037
WORDPRESS_SECURE_AUTH_SALT=a27111124ef55c2950982186df05a4407b9be110
WORDPRESS_LOGGED_IN_SALT=c476b7871433d2178419204851621bf34fe06c2c
WORDPRESS_NONCE_SALT=b92e64519ce276cd8dea3122249cbcedbbf5643a

LOCAL_HOST=http://localhost
LOCAL_PORT=3000
ENVIRONMENT=development
WORDPRESS_URL=localhost:8080
WORDPRESS_TITLE=WP Recruitment task
WORDPRESS_ADMIN_USER=admin
WORDPRESS_ADMIN_PASSWORD=test123
WORDPRESS_ADMIN_EMAIL=test@example.com

WORDPRESS_DEBUG=
WORDPRESS_CONFIG_EXTRA=define('WP_SITEURL', 'http://localhost:8080' );define('WP_HOME', WP_SITEURL );define('WP_CONTENT_DIR', '/var/www/app' );define('WP_CONTENT_URL', WP_SITEURL . '/app' );define( 'WPMU_PLUGIN_DIR', WP_CONTENT_DIR . '/mu-plugins' );

NGINX_HOST=localhost
NGINX_PROXY_PASS_HOST=wordpress

GOOGLE_CODE_VERIFICATION=sampleGoogleCode