//0 : none
.section--spacingTop0 {
  padding-top: 0;
}

.section--spacingBottom0 {
  padding-bottom: 0;
}


//16 : XXX Small
.section--spacingTop16 {
  padding-top: 16px;
}

.section--spacingBottom16 {
  padding-bottom: 16px;
}


//20 : XX Small
.section--spacingTop20 {
  padding-top: 20px;
}

.section--spacingBottom20 {
  padding-bottom: 20px;
}


//32 : X Small
.section--spacingTop32 {
  padding-top: 32px;
}

.section--spacingBottom32 {
  padding-bottom: 32px;
}


//40 : Small
.section--spacingTop40 {
  padding-top: 40px;
}

.section--spacingBottom40 {
  padding-bottom: 40px;
}


//80 : Medium
.section--spacingTop80 {
  padding-top: 80px;
}

.section--spacingBottom80 {
  padding-bottom: 80px;
}


//96 : Large
.section--spacingTop96 {
  padding-top: 96px;
}

.section--spacingBottom96 {
  padding-bottom: 96px;
}


//128 : X Large
.section--spacingTop128 {
  padding-top: 128px
}

.section--spacingBottom128 {
  padding-bottom: 128px
}


//160 : XX Large
.section--spacingTop160 {
  padding-top: 160px;
}

.section--spacingBottom160 {
  padding-bottom: 160px;
}

