.wp-block-custom-cta {
  padding: 100px 0;
  background-color: $color-secondary;
  text-align: center;
}

.cta__title {
  margin: 0;
  padding: 10px 0;
  color: $color-white;
}

.wp-block .cta-editor__txt {
  color: $color-white;
}
