.wp-block-custom-hero-item {
  background-color: darken($color-white, 10%);
  background-size: cover;
  height: 600px;
  display: flex;
  align-items: center;

  &--left {
    .hero-section__content {
      order: 2;
    }

    .hero-section__img {
      order: 1;
    }
  }
}

.hero-section__content {
  width: 50%;
  padding: 0 10px 0 80px;
  color: $color-white;
  order: 1;

  &--center {
    width: 100%;
    text-align: center;
  }
}

.hero-section__img {
  width: 50%;
  padding: 0 10px;
  order: 2;
}

.hero-section__title {
  margin: 0;
  padding-bottom: 25px;
  font-size: 28px;
  color: $color-white;
}

.hero-section__caption {
  margin: 0;
  padding-bottom: 25px;
  font-size: 18px;
  color: $color-white;
}
