.edit-post-visual-editor {
  .wp-block-custom-hero-section {
    @include default-editor-block;

    .block-editor-button-block-appender {
      margin-bottom: 15px;
    }
  }

  .hero-section__title, .hero-section__caption {
    color: $color-primary;
  }

  .hero-section__img-wrapper {
    position: relative;

    img {
      width: auto;
      max-height: 230px;
    }
  }

  .hero-section__img-placeholder {
    display: flex;
    height: 230px;
    justify-content: center;
    align-items: center;
    background-color: $color-white;
  }

  .hero-section__remove-btn {
    position: absolute;
    top: 0;
    right: 0;
    color: $color-white;
    background: $color-red;
    padding: 0 5px;
  }

  .wp-block-custom-hero-item {
    height: auto;
    margin-bottom: 80px;
    padding: 40px 10px;

    p {
      margin: 0;
      padding-bottom: 15px;
    }
  }
}
