.post-meta {
  display: flex;
  align-items: center;
}

.post-meta__categories {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.post-meta__cat-item {
  position: relative;

  &:not(:last-of-type) {
    margin-right: 10px;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: -6px;
      width: 1px;
      height: 100%;
      background-color: $color-secondary;
    }
  }
}

.post-meta__cat-link {
  color: $color-primary;

  &:hover {
    color: $color-secondary;
  }
}

.post-meta__author {
  margin: 0 15px 0 0;
}

.post-meta__author-link {
  color: $color-primary;

  &:hover {
    color: $color-secondary;
  }
}

.post-meta__date {
  margin: 0 15px 0 0;
}


