@import '~sass-mq';

@import 'theme/variables';

.wp-block-freeform.block-library-rich-text__tinymce {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @import 'theme/theme';
}